<div id='container'>
  <h2 class='title'>
    TerraCycle OCSL notification receiver
  </h3>
  <div class='wrap'>
    <div id='request-wrap' class='column'>
      <div id='request-form' class='column'>
        <h3>OCSL Widget form </h3>
        <form id='request'>
          <div><input type="text" name="uuid" placeholder="uuid"></div>
          <div><input type="text" name="client_params" placeholder="client_params"></div>
          <div><input type="text" name="brigade_name" placeholder="brigade_name"></div>
          <div><input type="text" name="first_name" placeholder="first_name"></div>
          <div><input type="text" name="last_name" placeholder="last_name"></div>
          <div><input type="text" name="email" placeholder="email"></div>
          <div><input type="text" name="phone_number" placeholder="phone_number"></div>
          <div><input type="text" name="address" placeholder="address"></div>
          <div><input type="text" name="address2" placeholder="address2"></div>
          <div><input type="text" name="city" placeholder="city"></div>
          <div><input type="text" name="region" placeholder="region"></div>
          <div><input type="text" name="zipcode" placeholder="zipcode"></div>
          <div class="checkboxes"><input id="checkbox1" type="checkbox" name="checkbox1"><label for="checkbox1">Checkbox1</label></div>
          <div class="checkboxes"><input id="checkbox2" type="checkbox" name="checkbox2"><label for="checkbox2">Checkbox2</label></div>

          <button>Send Request</button>
        </form>
      </div>

      <div class='request-json-wrap column'>
        <h3>Request JSON data</h3>
        <pre id='request-json'></pre>
      </div>
    </div>

    <div id='response-wrap' class='column'>
      <h3>RESPONSE</h3>
      <pre id='response'></pre>
    </div>
  </div>

  <div class='wrap'>
    <div class='parameters column'>
      <h3>REQUEST fields</h3>
      <% params =
        [{
            name: "uuid",
            description: "UUID for the OCSL in the TC system",
            type: "string"
        },
        {
            name: "client_params",
            description: "Custom parameters passed by the client to the widget",
            type: "string"
        },
        {
            name: "brigade_name",
            description: "Chosen brigade",
            type: "string"
        },
        {
            name: "first_name",
            description: "First name",
            type: "string"
        },
        {
            name: "last_name",
            description: "Last name",
            type: "string"
        },
        {
            name: "email",
            description: "Email",
            type: "string"
        },
        {
            name: "phone_number",
            description: "Phone number",
            type: "string"
        },
        {
            name: "address",
            description: "Address line 1",
            type: "string"
        },
        {
            name: "address2",
            description: "Address line 2",
            type: "string"
        },
        {
            name: "city",
            description: "City",
            type: "string"
        },
        {
            name: "region",
            description: "Region",
            type: "string"
        },
        {
            name: "zipcode",
            description: "Zipcode",
            type: "string"
        },
        {
            name: "checkbox1",
            description: "checkbox1",
            type: "boolean"
        },
        {
            name: "checkbox2",
            description: "checkbox2",
            type: "boolean"
        }]
      %>
      <table border="1" cellpadding="2" cellspacing="0">
        <thead>
          <th>FIELD</th>
          <th>TYPE</th>
          <th>DESCRIPTION</th>
        </thead>
        <tbody>
          <% params.each do |el| %>
            <tr>
              <td><%= el[:name] %></td>
              <td><%= el[:type] %></td>
              <td><%= el[:description] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class='column'>
      <h3>LINKS</h3>
      <div class='git-link'>
        <a href='https://github.com/TerraCycle/ocsl-notification' target='_blank'>
          View it on
          <img src="/assets/github.jpg">
        </a>
      </div>
    </div>
  </div>
</div>
