// // Place all the styles related to the ocsl controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.request-form {
  .form-group {
    margin-bottom: 5px;

    .help-block {
      font-size: 11px;
    }
  }
}

.service-link {
  background: #D6DADC;
  border-radius: 3px;
  padding: 2px 4px;
  color: #444;

  .git-icon {
    height: 14px;
    margin-right: 3px;
    vertical-align: middle;
    width: 14px;
  }
}

.git-link {
  margin-top: 10px;
}

p {
  margin: 10px 0;
}
